{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>SymTrack</h1>
                <p>Bienvenue sur notre site!</p>
            </div>
        </section>
    </main>

{% endblock %}
